*/babel/*.json
.idea
*__pycache__*
*.egg-info
outputs/*
rendered_images/*
*tmp*
results
.DS_Store
**/.DS_Store
data/smpl
convert_smplx_data.sh
motion_fps_smplx.yaml
my_data_pack.pt
process_my_data.yaml
train_maskedmimic.sh
amass_data_proto
train_maskedmimic_smplx.sh
our_data_amass
temp_test.py
amass_data
motion_fps_smpl.yaml
output
train_maskedmimic_smpl.sh
test.sh
test1.sh
outputs
replay_data.sh
replay_data_failed_motion.sh
*.sh
omomo_data
behave_date
behave-30fps
HIMO_Dataset
our_data_amass_filter
protomotions/config/opt/masked_mimic/constraints/control_setting.yaml